/*header*/

.top {
  width: "100%";
  margin-left: auto;
  margin-right: auto;
}

/*article*/

article {
  font-family: 'Josefin Sans', sans-serif;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  font-size: 16px
  text-indent: 20px;
}

h1 {
  text-transform: uppercase;;
  color: #222222;
  font-size: 30px;
}

.pi h1 {
  border-top: solid, #000000, 3px;
}

h2 {
  color: #222222;
  font-size: 25px;
}

h3 {
  font: Merriweather, 15px, italic;
}

#intro {
  font-size: 20px;
  text-indent: 40px line;
}

.bold span {
  font: bold;
}
